<div
  class="footer"
  style="margin: 0; position: absolute; width: 100%; bottom: 0"
>
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>More Contect as</h4>
        <ul class="navbar-nav">
          <li>
            <a
              href="https://helpcenter.inspectiondepot.com"
              style="color: white"
              target="_blank"
              >Home Inspection Help Center</a
            >
          </li>
          <li>
            <a
              href="https://paperlessinspectors.com"
              style="color: white"
              target="_blank"
              >Paperless Inspectors</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Get Help</h4>
        <ul>
          <li>
            <a
              href="https://inspectormatch.com"
              style="color: white"
              target="_blank"
              >Inspector Match</a
            >
          </li>
          <li>
            <a
              href="https://adjustermatch.com"
              style="color: white"
              target="_blank"
              >Adjuster Match</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Address</h4>
        <ul>
          <li>
            <label style="color: white">
              3131 St Johns Bluff Rd S,<br />
              Jacksonville,<br />
              FL 32246,USA
            </label>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-google"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
