a,
a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

a.active {
  color: #5887d2 !important;
  background-color: rgb(235, 235, 235) !important;
}

.btn:focus,
.btn.focus {
  box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 25%) !important;
}



a:hover {
  color: #5887d2 !important;
  background-color: rgb(235, 235, 235) !important;
  border-radius: 0.25rem
}
 
