<nav id="sidebar" class="navbar-dark main-sidebar">
  <ul class="bg-white navbar-nav">
    <li>
      <a
        class="btn btn-white"
        routerLink="/country"
        routerLinkActive="active"
        style="color: #606770; font-weight: 500; text-align: left; width: 100%"
      >
        Country
      </a>
    </li>
    <li>
      <a
        class="btn btn-white"
        routerLink="/state"
        routerLinkActive="active"
        style="color: #606770; font-weight: 500; text-align: left; width: 100%"
      >
        State
      </a>
    </li>
  </ul>
</nav>
